<!--
Hey! If you're interested in working with us to organize this competition, have ideas for future problems, or just want to drop us a line: check us out at https://github.com/uacodegolf or email me at tslimkemann@email.arizona.edu.
-->

<meta charset="utf-8">

<html>
  <head>
	<title>
	  UA Code Golf 2019
	</title>
	<script type="text/javascript" src="live.js"></script>
	<style>
	  * {
		  font-family: sans-serif;
	  }
	  body {
		  text-align: center;
		  background: no-repeat url("icon_fullsize.png");
	  }
	  main {
		  background-color: rgba(255, 255, 255, 0.5);
		  box-shadow: 0 0 10px black;
		  max-width: 80em;
		  width: 70%;
		  min-width: 40em;
		  margin: 0 auto;
		  padding-top: 2em;
		  padding-bottom: 2em;
	  }
	  h1, h2, h3, h4 {
		  margin-top: 0.2em;
		  margin-bottom: 0.2em;
	  }
	  p {
		  //margin-top: 0.2em;
		  //margin-bottom: 0.2em;
	  }
	  .disclaimer {
		  font-size: 0.6em;
	  }
	  .problem {
		  white-space: pre-line;
		  display: block;
		  background-color: rgba(140, 140, 240, 0.5);
		  margin-top: 1em;
		  margin-left: 2em;
		  margin-right: 2em;
		  padding: 1em;
	  }
	</style>
  </head>
  <body>
	<main>
	  <h1>
		UA Code Golf Challenge
	  </h1>
	  <div class="disclaimer">
		(we are in no way affiliated with the University of Arizona)
	  </div>
	  <h2>
		Spring 2019 Season
	  </h2>
	  <h3>
		Current Problem
	  </h3>
	  Click on any of the problems listed below to be shown more information.
	  <a class="problem">
		<b>Problem 1</b>
		<i>"Catchy Tagline"</i>
		Submissions open on MM/DD/YYYY
		Submissions close on MM/DD/YYYY
	  </a>
	  <h3>
		Archived Problems
	  </h3>
	</main>
  </body>
</html>

